# Sophos XGS 136 installer stick - serial console COM1 38400 8N1
serial --unit=0 --speed=38400 --word=8 --parity=no --stop=1
terminal_input serial console
terminal_output serial console
set timeout=10
set default=0

# Default: boot what is already on the internal SSD, so leaving this stick plugged in is harmless.
menuentry 'Boot installed system (internal SSD)' {
    search --no-floppy --file --set=root /EFI/debian/grubx64.efi
    chainloader /EFI/debian/grubx64.efi
}
menuentry 'AUTOMATED REINSTALL - ERASES THE INTERNAL SSD' {
    linux    /install.amd/vmlinuz auto=true priority=critical preseed/file=/cdrom/preseed.cfg locale=en_US.UTF-8 keymap=us hostname=xgs136 domain= console=ttyS0,38400n8 --- console=ttyS0,38400n8
    initrd   /install.amd/initrd.gz
}
menuentry 'Manual install (serial console)' {
    linux    /install.amd/vmlinuz console=ttyS0,38400n8 --- console=ttyS0,38400n8
    initrd   /install.amd/initrd.gz
}
menuentry 'Rescue mode (serial console)' {
    linux    /install.amd/vmlinuz rescue/enable=true console=ttyS0,38400n8 --- console=ttyS0,38400n8
    initrd   /install.amd/initrd.gz
}
