# Automated install for the Sophos XGS 136 - ERASES THE INTERNAL SSD
d-i debian-installer/locale string en_US.UTF-8
d-i keyboard-configuration/xkb-keymap select us
d-i netcfg/enable boolean false
d-i netcfg/get_hostname string xgs136
d-i netcfg/hostname string xgs136
d-i hw-detect/load_firmware boolean false
d-i time/zone string Asia/Hong_Kong
d-i clock-setup/utc boolean true
d-i clock-setup/ntp boolean false

d-i passwd/root-password-crypted password CHANGEME_SHA512_HASH
d-i passwd/user-fullname string Dan Haas
d-i passwd/username string daha
d-i passwd/user-password-crypted password CHANGEME_SHA512_HASH

# the internal (non-removable, non-USB) disk only - never the installer stick
d-i partman/early_command string for d in /sys/block/sd* /sys/block/nvme*; do [ -e $d ] || continue; [ "$(cat $d/removable)" = 0 ] || continue; readlink -f $d | grep -q /usb && continue; debconf-set partman-auto/disk /dev/${d##*/}; break; done
d-i partman-auto/method string regular
d-i partman-auto/choose_recipe select atomic
d-i partman-lvm/device_remove_lvm boolean true
d-i partman-md/device_remove_md boolean true
d-i partman-partitioning/confirm_write_new_label boolean true
d-i partman/choose_partition select finish
d-i partman/confirm boolean true
d-i partman/confirm_nooverwrite boolean true
d-i partman-efi/non_efi_system boolean true

d-i apt-setup/use_mirror boolean false
d-i apt-setup/no_mirror boolean true
d-i apt-setup/cdrom/set-first boolean false
d-i apt-setup/disable-cdrom-entries boolean true
d-i apt-setup/non-free-firmware boolean true
tasksel tasksel/first multiselect standard
d-i pkgsel/include string openssh-server python3 dhcpcd-base ifupdown
d-i pkgsel/upgrade select none
popularity-contest popularity-contest/participate boolean false

d-i grub-installer/only_debian boolean true
d-i grub-installer/bootdev string default
d-i grub-installer/force-efi-extra-removable boolean true

d-i preseed/late_command string sh /cdrom/xgs/late.sh
d-i finish-install/reboot_in_progress note
